.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-black {
  /* https://github.com/css-modules/css-modules/blob/master/docs/composition.md */
  composes: nav;
  background-color: #111;
}

.nav-logo {
  object-fit: contain;
}

.nav-avater {
  object-fit: contain;
}
